<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<title>Main page</title>
	</head>
	<body>
		<div class="container-fluid">
		<style type="text/css">
			div{
				background-image: url("http://a.espncdn.com/combiner/i?img=/photo/2016/0814/r113626_5400x2881cc.jpg&w=1024");
				height: 100%;
				width: 100%;
			}
			body{
				height: 1000px;
				width: 100%;
			}
			.text{
				color: green;
			}
		</style>
		<div class="text">
			You suck
		</div>
	</div>
	</body>
</html>